@page "/ProfilePage"
@inject NavigationManager Navigation
<head>
    <style>
        body{
            height: 100%;
            background-image: linear-gradient(180deg, rgba(85, 5, 103, 0.432) 0%, #0640471e 70%);
        }
    </style>
</head>
<body>
<h1> Write your Name </h1>
<input @bind="_Name" />
<h2> Write you age </h2>
<input @bind="_Age"/>
<h3> Write your interests </h3>
<input @bind="_Interests" />
<button class="btn btn-success" @onclick="SaveChanges">SaveChanges</button>
</body>
@code
{
    @using System.Net.Http;
    @using Swashbuckle.AspNetCore.Swagger;
    @using Serverlib;
    @using Microsoft.AspNetCore.SignalR.Client;
    
    public static HttpClient httpClient = new HttpClient();

    private VirtualSwagger virtualSwagger = new VirtualSwagger() ; 
    public Serverlib.swaggerClient Client ;

    public HubConnection connection ; 
    public HubConnection ConnInt ; 
    public String _Age ;
    public string _Name ; 

    public string _Interests  ; 

    protected override async Task OnInitializedAsync()
    {   
        connection = new HubConnectionBuilder()
        .WithUrl("http://localhost:5000/SR")
        .Build();
        ConnInt = new HubConnectionBuilder()
        .WithUrl("http://localhost:5000/SRInt")
        .Build();
        connection.StartAsync().Wait() ; 
        ConnInt.StartAsync().Wait() ; 
        Client = new Serverlib.swaggerClient("http://localhost:5000/", httpClient); 
    }
    public void SaveChanges()
    {
        Serverlib.Profile profile = new Serverlib.Profile{Id = 1 , Name = _Name , Interests = _Interests , Age = int.Parse(_Age)} ; 
        Client.SetProfileAsync(profile).Wait() ;
    }
}