@page "/Suggest/{ID}"
@inject NavigationManager Navigation
<head>
    <style>
        body{
            height: 100%;
            background-image: linear-gradient(180deg, rgba(5, 90, 103, 0.432) 0%, #1d06471e 70%);
        }
    </style>
</head>
<body>
<h2> @RESULT </h2>
</body>
@code
{
    @using System.Net.Http;
    @using Swashbuckle.AspNetCore.Swagger;
    @using Serverlib;
    @using Microsoft.AspNetCore.SignalR.Client;

    public static HttpClient httpClient = new HttpClient();

    private VirtualSwagger virtualSwagger = new VirtualSwagger();
    public Serverlib.swaggerClient Client;

    public HubConnection connection;
    public HubConnection ConnInt;
    public bool _IsDone;
    public string _Name;

    [Parameter]
    public string ID { get; set; }

    public int _Id;
    public string _Description;

    public string RESULT ; 

    protected override async Task OnInitializedAsync()
    {
        _Id = int.Parse(ID);
        connection = new HubConnectionBuilder()
        .WithUrl("http://localhost:5000/SR")
        .Build();
        ConnInt = new HubConnectionBuilder()
        .WithUrl("http://localhost:5000/SRInt")
        .Build();
        Client = new Serverlib.swaggerClient("http://localhost:5000/", httpClient);
        var gptres = Client.SuggestSourceForTaskAsync(_Id).Result;
        List<string> ResStrings = new List<string>();
        foreach (string s in gptres)
        {
            ResStrings.Add(s);
        }
        RESULT = ResStrings[0] ; 
    }
}